{% extends 'base.html' %}

{% block title %}Water Reservoirs Map{% endblock %}
{% block header_title %}Water Reservoirs Map{% endblock %}

{% block content %}
<div id="map" class="map-container"></div>
<div id="reservoir-gauges-container">
    <div class="card-container">
        <div class="card">
            <div class="gauge-title">Air Temperature</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="airTempGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Water Temperature</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="waterTempGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Barometric Pressure</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="pressureGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Humidity</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="humidityGauge" class="gauge-container"></div>
        </div>
    </div>
</div>

<div class="ranking-container">
    <div class="card">
        <div class="ranking-title">Highest air temperature:<br>
            <div class="ranking-value" id="highest-air-temp"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Highest water temperature:<br>
            <div class="ranking-value" id="highest-water-temp"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Pressure closest to 1 atm/1013 hPa:
            <div class="ranking-value" id="best-pressure"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Lowest humidity:
            <div class="ranking-value" id="lowest-humidity"></div>
        </div>
    </div>
</div>
{% endblock %}
