<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Gauges</title>

    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>

<header>
    <button onclick="openMenu()" class="menu-btn">&#9776;</button>
    <h1>Water Reservoirs Map</h1>
</header>

<!-- Sidebar Menu -->
<div id="sidebar" class="sidebar">
    <button onclick="closeMenu()" class="close-btn">&times;</button>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Reservoirs</a>
    <div class="submenu" id="reservoirsSubmenu">
        {% for reservoir in reservoirs %}
            <a href="#" data-reservoir-id="{{ reservoir.id }}">{{ reservoir.name }}</a>
        {% endfor %}
    </div>
    <a href="#">Contact</a>
</div>


<div id="map" class="map-container"></div>
<div id="reservoir-gauges-container">
    <div class="card-container">
        <div class="card">
            <div class="gauge-title">Air Temperature</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="airTempGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Water Temperature</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="waterTempGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Barometric Pressure</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="pressureGauge" class="gauge-container"></div>
        </div>
        <div class="card">
            <div class="gauge-title">Noise Level</div>
            <div class="gauge-time">A few seconds ago</div>
            <div id="noiseLevelGauge" class="gauge-container"></div>
        </div>
    </div>
</div>

<div class="ranking-container">
    <div class="card">
        <div class="ranking-title">Highest air temperature:<br>
            <div class="ranking-value" id="highest-air-temp"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Highest water temperature:<br>
            <div class="ranking-value" id="highest-water-temp"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Pressure closest to 1 atm/1013 hPa:
            <div class="ranking-value" id="best-pressure"></div>
        </div>
    </div>
    <div class="card">
        <div class="ranking-title">Lowest noise level:
            <div class="ranking-value" id="lowest-noise"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.min.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/ranking.js' %}"></script>
<script type="text/javascript">
    window.addEventListener('load', () => {
        const reservoirs = {{ reservoirs_json|safe }};
        const map = L.map('map').setView([50.0647, 19.9450], 12);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        getHighestAirTemp(reservoirs);
        getHighestWaterTemp(reservoirs);
        getBestPressure(reservoirs);
        getLowestNoise(reservoirs);
        addReservoirMarkers(reservoirs, map)
        bindReservoirSelection(reservoirs)
    })
</script>
</body>
</html>
