{% extends 'base.html' %}

{% block title %}Water Reservoirs Map{% endblock %}
{% block header_title %}Water Reservoirs Map{% endblock %}

{% block content %}
    <div id="map" class="map-container"></div>
    <div id="reservoir-gauges-container">
        <div class="card-container">
            <div class="card">
                <div class="gauge-title">Air Temperature</div>
                <div class="gauge-time">A few seconds ago</div>
                <div id="airTempGauge" class="gauge-container"></div>
            </div>
            <div class="card">
                <div class="gauge-title">Water Temperature</div>
                <div class="gauge-time">A few seconds ago</div>
                <div id="waterTempGauge" class="gauge-container"></div>
            </div>
            <div class="card">
                <div class="gauge-title">Barometric Pressure</div>
                <div class="gauge-time">A few seconds ago</div>
                <div id="pressureGauge" class="gauge-container"></div>
            </div>
            <div class="card">
                <div class="gauge-title">Humidity</div>
                <div class="gauge-time">A few seconds ago</div>
                <div id="humidityGauge" class="gauge-container"></div>
            </div>
        </div>
    </div>

    <div class="ranking-container">
        <div class="card">
            <div class="ranking-title">Highest air temperature:<br>
                <div class="ranking-value" id="highest-air-temp"></div>
            </div>
        </div>
        <div class="card">
            <div class="ranking-title">Highest water temperature:<br>
                <div class="ranking-value" id="highest-water-temp"></div>
            </div>
        </div>
        <div class="card">
            <div class="ranking-title">Pressure closest to 1 atm/1013 hPa:
                <div class="ranking-value" id="best-pressure"></div>
            </div>
        </div>
        <div class="card">
            <div class="ranking-title">Lowest humidity:
                <div class="ranking-value" id="lowest-humidity"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.min.js"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/ranking.js' %}"></script>
    <script type="text/javascript">
        window.addEventListener('load', () => {
            const reservoirs = {{ reservoirs_json|safe }};
            const map = L.map('map').setView([50.0647, 19.9450], 12);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            getHighestAirTemp(reservoirs);
            getHighestWaterTemp(reservoirs);
            getBestPressure(reservoirs);
            getLowestHumidity(reservoirs);
            addReservoirMarkers(reservoirs, map)
            bindReservoirSelection(reservoirs)
        })
    </script>
{% endblock %}
